body {
  background-color: lightgreen;
}

h1 {
  text-align: center;
}

div {
  /* border: 1px solid black; */
}

.container {
  display: grid;
  /* background-color: greenyellow; */
  /* border: 2px solid black; */
  margin: 5px;
  text-align: center;
  grid-template-areas:
    "header header header"
    "left middle right"
    "data data data"
    "footer footer footer";
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 20vh 80px 40vh 20vh;
}

.left {
  display: none;
  grid-area: left;
  margin: 5px;
}

.middle {
  grid-area: middle;
  margin: 5px;
}

.right {
  display: none;
  grid-area: right;
}

.btn {
  margin: 10px;
}

.header {
  grid-area: header;
}

.data {
  grid-area: data;
  text-align: center;
  font-size: 50px;
  color: blue;
}

.footer {
  grid-area: footer;
  text-align: center;
  font-size: 50px;
  color: blue;
}

.test_bg_red {
  background-color: red;
}

.test_bg_green {
  background-color: green;
}
