body {
  background-color: lightgreen;
}

h1 {
  text-align: center;
}
.elemCenter {
  height: 4 00px;
  text-align: center;
  position: relative;
}
.btn {
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;

  position: absolute;
  top: 60%;
  /* margin: -50px 0 0 0; */
}

.btn:hover {
  background: #1d49aa;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
